<!-- work_started.html -->
{% extends 'base.html' %}

{% block title %}Logout - My Website{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Started</title>
</head>
<body>
    <h1>Hi {{ user.username }}!</h1><br>
    <p>You started working on the project: {{ project.name }}.</p><br>
    <a href="{% url 'home' %}">Go to Home</a><br>
    <a href="{% url 'goal_list' %}">Goal list</a>
</body>
</html>
{%endblock%}